<p class="title">投稿一覧</p>

<div class="index">
<% @comment.each do |comment|%>
    <div class="content">
        <%= link_to(comment.content,"/comments/#{comment.id}",class: "link")%>
        <div class="image">
        <% if @comment.image.attached? %>
        <%= image_tag @comment.image, style: "width: 20rem;"%>
        <% end %>
        </div>
    </div>
<% end %>
</div>
