
<%# top begin %>
<div class="top">
    <div class='top_inner'>
        <div class='top_btn'>
                <a href="/comments/new" class="waves-effect waves-light btn-large">tweet!</a>


        </div>
        <h1> Tweeto World</h1>

    </div>
</div>
