@import "materialize/components/color-variables";
$primary-color: color("purple", "lighten-3") !default;
$secondary-color: #93d9ce !default;
@import "materialize";

// 関数
@mixin fz_vw($font_size: 10) {
  font-size: $font_size * 1px;
  font-size: get_vw($font_size);
}

// color
// pink
$color1: #ee6e72;

// blue
$color2: #84b7de;

// green
$color3: #c8e6c1;

//orange
$color4: #f8c98d;

li {
  list-style: none;
}

a {
  color: white;
}
* {
  margin: 0px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  .brand-logo {
    font-family: "Halfomania", "Permanent Marker", cursive;
    font-size: 3.5vw;
    top: auto;
    left: 2.5vw;
    letter-spacing: 0.2vw;
  }
}

main {
  flex: 1 0 auto;
}

.top {
  // background: linear-gradient(
  //     to top,
  //     rgba(217, 175, 217, 0.8) 0%,
  //     rgba(151, 217, 225, 0.8) 100%
  //   ),
  //   url("/topbg-5.jpeg");
  background-image: url(/topbg02.jpg);
  background-size: cover;
  &_inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 18%;
    .top_btn {
      a {
        letter-spacing: 0.7vw;
        background-color: transparent;
        border: solid white 0.3vw;
        box-shadow: none;
        font-weight: bold;
        height: 5vw;
      }
    }
    & h1 {
      color: white;
      -webkit-text-stroke: 1px #696969;
      margin: 0px;
      font-family: "Halfomania", "Permanent Marker", cursive;
      font-size: 13vw;
    }
  }
}

.container {
  text-align: center;
}
