@import "https://fonts.googleapis.com/icon?family=Material+Icons"; //materialize icon
@import "materialize/components/color-variables";
$primary-color: color("purple", "lighten-3") !default;
$secondary-color: #93d9ce !default;
@import "materialize";

// 関数
@mixin fz_vw($font_size: 10) {
  font-size: $font_size * 1px;
  font-size: get_vw($font_size);
}

// color
// pink
$color1: #ee6e72;

// blue
$color2: #84b7de;

// green
$color3: #c8e6c1;

//orange
$color4: #f8c98d;

* {
  margin: 0px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  .brand-logo {
    font-family: "Halfomania", "Permanent Marker", cursive;
    font-size: 3.5vw;
    top: auto;
    left: 2.5vw;
    letter-spacing: 0.2vw;
  }
}

main {
  flex: 1 0 auto;
}

.top {
  background-image: url(/topbg02.jpg);
  background-size: cover;
  &_inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 18%;
    .top_btn {
      a {
        letter-spacing: 0.7vw;
        background-color: transparent;
        border: solid white 0.3vw;
        box-shadow: none;
        font-weight: bold;
        height: 5vw;
      }
    }
    & h1 {
      color: white;
      -webkit-text-stroke: 1px #696969;
      margin: 0px;
      font-family: "Halfomania", "Permanent Marker", cursive;
      font-size: 13vw;
    }
  }
}

.wrap {
  background-image: url(/new03.jpg);
  background-size: cover;
  padding: 10vw;
  &_fil {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5% 0%;
    .container {
      text-align: center;

      .new_text {
        border-radius: 4px;
        border-color: #ce93d8;
      }
    }
  }
}

//commnet/index
.link {
  color: white;
}

// me/index
.me_image,
.defalt_img {
  width: 80px;
  height: 80px;
  border-radius: 40%;
  margin: 20px 0 10px;
  object-fit: cover;
}
