// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title {
  text-align: center;
  font-size: 25px;
  padding: 40px;
}

.index {
  text-align: center;
  text-decoration: none;

  .content {
    padding: 15px;
    margin: 10px 180px;

    border-radius: 8px;
    background-color: rgba(0, 153, 255, 0.2);
    .link {
      color: #0c3966;
    }
    .image {
      padding: 10px;
    }
  }
}
