* {
  margin: 0px;
}

a {
  text-decoration: none;
  list-style: none;
}

.header {
  display: flex;
  background-color: #4f78ff;
  padding: 20px;
  color: white;
}

.header__logo {
  color: white;
  font-size: 30px;
  letter-spacing: 4px;
}

.header__list {
  display: flex;
}

.header__list li {
  float: right;
  margin-right: 15px;
  font-size: 14px;
  letter-spacing: 4px;
  color: white;
}

.top {
  background-image: url("/topbg.jpg");
  background-size: cover;
  height: 400px;
  padding: 180px 0px 100px 460px;
}

.top h1 {
  color: #ffd64f;
  opacity: 0.8;
  letter-spacing: 5px;
  font-size: 45px;
}
